@import "variables.scss";

@import "mixins.scss";

@import "media-query.scss";

@import "typography.scss";

@import "common.scss";

@import "main.scss";

@import "templates/_header.scss";

@import "templates/_navigation.scss";

@import "templates/_slider.scss";

@import "templates/_call-to-action.scss";

@import "templates/_service.scss";

@import "templates/_feature.scss";

@import "templates/_portfolio.scss";

@import "templates/_testimonial.scss";

@import "templates/_contact.scss";

@import "templates/_pricing.scss";

@import "templates/_products.scss";

@import "templates/_single-product.scss";

@import "templates/_clients.scss";

@import "templates/_about.scss";

@import "templates/_instagram.scss";

@import "templates/_user-dashboard.scss";

@import "templates/_single-post.scss";

@import "templates/_backgrounds.scss";

@import "templates/_blog-sidebar.scss";

@import "templates/_blog.scss";

@import "templates/_coming-soon.scss";

@import "templates/_shopping.scss";

@import "templates/_404.scss";

@import "templates/_footer.scss";

// Contenu déroulant
.details-demo {
    padding: 0.5em 0.5em 0;
}

.summary-demo {
    cursor: pointer;
    font-weight: bold;
    padding: 0.5em;
}

.details-demo[open] {
    padding: 0.5em;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.details-demo[open] .summary-demo {
    margin-bottom: 0.5em;
}

// Ligne horizontale
.p-boxed {
    border: 1px solid #aaa;
}

// Posts
.cadre {
    filter: drop-shadow(0 0 0.25rem lightsteelblue);
    cursor: pointer;
    overflow: hidden;
    background-color: white;
    margin: 1em 1em 0em;
}

.cadre:hover {
    overflow: hidden;
    background-color: ghostwhite;
}

.cadre-content {
    padding: 0.5em 0.5em 0.5em;
}

// Variation de la taille du latex
body {
    font-size: 1.4vw;
}
@media screen and (min-width: 1000px) {
    body {
        font-size: 14px;
    }
}

// Sommaire article
.no-left-margin {
    margin-left: 0;
}

.no-right-margin {
    margin-right: 0;
}

.a-big-left-margin {
    margin-left: 330px;
}

.a-little-right-margin {
    margin-right: 10vw;
}

.summary {
    position: sticky;
    top: 25px;
    border: 1px solid #a2aeb4 ;
    cursor: pointer;
    overflow: hidden;
    margin: 0em 1em 0em;
    padding: 0;
    width: 250px;
}

.summary-line {
    position: sticky;
    top: 10px;
}

.case {
    border: 1px solid  #c9d4da  ;
    cursor: pointer;
    background-color:  #ebf6fd ;
}

.no-drop-shadow{
    filter: none;
}
.part {
    font-size: 1.4em;
    padding: 7px 2px 7px 15px;
}

.section {
    font-size: 1.25em;
    padding: 7px 2px 7px 30px;
}

.subsection {
    font-size: 1.1em;
    padding: 7px 2px 7px 47px;
}

.subsubsection {
    font-size: 1em;
    padding: 7px 2px 7px 60px;
}

.width-70 {
    width: 70vw;
}

.img-post {
    margin-top: 1em;
    margin-bottom: 1em;
    // border: 1px solid   #566573 ;
}