@import "variables.scss";

@import "mixins.scss";

@import "media-query.scss";

@import "typography.scss";

@import "common.scss";

@import "main.scss";

@import "templates/_header.scss";

@import "templates/_navigation.scss";

@import "templates/_slider.scss";

@import "templates/_call-to-action.scss";

@import "templates/_service.scss";

@import "templates/_feature.scss";

@import "templates/_portfolio.scss";

@import "templates/_testimonial.scss";

@import "templates/_contact.scss";

@import "templates/_pricing.scss";

@import "templates/_products.scss";

@import "templates/_single-product.scss";

@import "templates/_clients.scss";

@import "templates/_about.scss";

@import "templates/_instagram.scss";

@import "templates/_user-dashboard.scss";

@import "templates/_single-post.scss";

@import "templates/_backgrounds.scss";

@import "templates/_blog-sidebar.scss";

@import "templates/_blog.scss";

@import "templates/_coming-soon.scss";

@import "templates/_shopping.scss";

@import "templates/_404.scss";

@import "templates/_footer.scss";

.details-demo {
    padding: 0.5em 0.5em 0;
}

.summary-demo {
    cursor: pointer;
    font-weight: bold;
    padding: 0.5em;
}

.details-demo[open] {
    padding: 0.5em;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.details-demo[open] .summary-demo {
    margin-bottom: 0.5em;
}

.p-boxed {
    border: 1px solid #aaa;
    border-radius: 4px;
}

.cadre {
    cursor: pointer;
    // position: absolute;
    overflow: hidden;
    background-color: ghostwhite;
    // background-color: snow;
    padding: 0.5em 0.5em 0.5em;
    border: 1px solid slategrey;
    border-radius: 4px;
    margin: 1em 1em 2em;
}

body {
  font-size: 1.4vw;
}
@media screen and (min-width: 1000px) {
  body {
     font-size: 14px;
  }
}